:root {
	--color1: #16213e;
	--color2: #0f3460;
	--color3: #533483;
	--color4: #e94560;
	--color5: #ebeff2;
}

* {
	box-sizing: border-box;
	margin: 0;
	font-family: 'Saira', sans-serif;
	color: var(--color1);
}

h1 {
	font-family: 'Orbitron', sans-serif;
	color: var(--color4);
}

p {
	margin: 0;
}

section {
	min-height: 100vh;
}

.gradient-text {
	background-color: var(--color4);
	background-image: linear-gradient(45deg, var(--color4), var(--color3), var(--color4));
	background-size: 100%;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
}

.co1 {
	color: var(--color1);
}

.bg1 {
	background-color: var(--color1);
}

.co2 {
	color: var(--color2);
}

.bg2 {
	background-color: var(--color2);
}

.co3 {
	color: var(--color3);
}

.bg3 {
	background-color: var(--color3);
}

.co4 {
	color: var(--color4);
}

.bg4 {
	background-color: var(--color4);
}

.co5 {
	color: var(--color5);
}

.bg5 {
	background-color: var(--color5);
}

/* ******************** HEADER ******************** */
.header {
	height: 100vh;
}

.header__logo img {
	height: 5em;
}
/* ******************** HEADER ******************** */

/* ********************* ABOUT ******************** */
#section-about {
	background-image: linear-gradient(130deg, var(--color1), var(--color2));
}
/* ********************* ABOUT ******************** */

/* ******************* PROJECTS ****************** */
.card {
	border: 0px solid #000;
	/* margin: 1em 0; */
	box-shadow: 5px 5px 5px 1px var(--color5);
}

.card-footer {
	background-color: #fff;
	border-top: 0;
}
/* ******************* PROJECTS ****************** */

/* ******************* CONTACT ******************* */
#section-contact {
	background-image: linear-gradient(130deg, var(--color1), var(--color2));
}
/* ******************* CONTACT ******************* */

/* ******************** FOOTER ******************* */

/* ******************** FOOTER ******************* */
